.display {
    height: 75px;
    background-color: #000000;
    border: 5px solid #888;
    border-radius: 20px;
    padding: 11px 30px 11px 11px;
    margin: 10px 10px 15px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: lato sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    user-select: none;
}