<div class="app">
    <main class="container-calculadora">
        <app-display [display]="entrada"></app-display>
        <div class="row">
            <app-button valor="1" (onClick)="addInput($event)"></app-button>
            <app-button valor="2" (onClick)="addInput($event)"></app-button>
            <app-button valor="3" (onClick)="addInput($event)"></app-button>
            <app-button valor="+" (onClick)="addInput($event)"></app-button>
        </div>
        <div class="row">
            <app-button valor="4" (onClick)="addInput($event)"></app-button>
            <app-button valor="5" (onClick)="addInput($event)"></app-button>
            <app-button valor="6" (onClick)="addInput($event)"></app-button>
            <app-button valor="-" (onClick)="addInput($event)"></app-button>
        </div>
        <div class="row">
            <app-button valor="7" (onClick)="addInput($event)"></app-button>
            <app-button valor="8" (onClick)="addInput($event)"></app-button>
            <app-button valor="9" (onClick)="addInput($event)"></app-button>
            <app-button valor="*" (onClick)="addInput($event)"></app-button>
        </div>
        <div class="row">
            <app-button valor="=" (onClick)="addInput($event)"></app-button>
            <app-button valor="0" (onClick)="addInput($event)"></app-button>
            <app-button valor="." (onClick)="addInput($event)"></app-button>
            <app-button valor="/" (onClick)="addInput($event)"></app-button>
        </div>
        <div class="row">
            <app-clear-button (onClick)="clear()"></app-clear-button>
        </div>
    </main>
</div>